/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   main.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: adpachec <adpachec@student.42madrid.com>   +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/07/11 14:22:07 by adpachec          #+#    #+#             */
/*   Updated: 2023/07/20 16:37:00 by adpachec         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

* {
    box-sizing: border-box;
}

/* Estilos generales */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #F8F8F8;
  }
  .container {
	max-width: 100%; 
	margin: auto;
	padding: 0 20px;
}

@media screen and (min-width: 768px) {
	.container {
	  width: 80%;
	}
  }
  
  /* Estilos de la barra superior */
  .top-bar {
	background-color: #F8F8F8;
	color: #000000;
  }
  
  .top-bar .container {
	display: flex; 
	/* align-items: center; */
	padding-left: 9.2%;
	
  }
  
  .logo img {
	width: 200px;
  }
  
  .top-bar-right {
	display: flex;
	align-items: center;
	margin-left: 100px;
  }
  
  h1 {
	font-family: "Candara", cursive;
	font-size: 54px;
	text-align: left;
	color: #800000;
	margin-top: 30px;
	
  }

  header {
    background-color: #333;
    padding: 0 0 10px 0;
    color: #F8F8F8;
    text-align: center;
	
}

header nav ul li {
    display: inline;
    color: #F8F8F8;
}
  
  /* Estilos de la barra de navegación */
  nav {
	display: flex;
	background-color: #800000;
	color: #F8F8F8;
	padding: 10px 0;
	padding-left: 9.2%;
  }
  
  .nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .nav-links {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
  }
  
  .nav-links li {
	margin-right: 80px;
	flex-grow: 1;
	min-width: 0;
  }
  
  .nav-links li:last-child {
	margin-right: 0;
  }
  
  .nav-links a {
	color: #ecc43d;
	text-decoration: none;
	position: relative;
	font-family: "candara", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 22px;
	white-space: nowrap;
	overflow: hidden; 
  	text-overflow: ellipsis; 
  }
  
  .nav-links a::before {
	content: "";
	top: 50%;
	right: -10px;
	transform: translateY(-50%);
	width: 2px;
	height: 80%;
	background-color: rgba(255, 255, 255, 0.5);
  }
  
  .nav-links a:hover {
	opacity: 0.8;
  }

  .search-cart input[type="text"] {
	padding: 8px;
	border: none;
	border-radius: 8px;
	width: 300px;
	font-size: 14px;
  }
  
  .search-cart {
	display: flex;
	align-items: center;
	position: relative; /* Añadimos posición relativa */
	/* padding-left: 25%; */
  }
  
  .search-results {
	position: absolute; /* Añadimos posición absoluta */
	top: 100%; /* Colocamos los resultados debajo del campo de entrada */
	/* left: 0;  */
	width: 300px; 
	background-color: #f8f8f8;
	border: 2px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	/* padding-left: 25%; */
	z-index: 999;
  }
  
  .search-results ul {
	/* list-style: none; */
	padding: 0;
	margin: 0;
  }
  
  .search-results li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center; 
	color:  #800000;
	cursor: pointer;
  }

  .search-results li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center;
}
  
  .product-image {
	width: 50px;
	height: 50px; 
  }
  
  /* Estilos para el contenedor de información del producto (nombre y precio) */
  .product-info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
  }
  
  /* Estilos para el nombre del producto */
  .product-info span:first-child {
	font-weight: bold; /* Texto en negrita */
  }
  
  /* Estilos para el precio */
  .product-price {
	color: #000; /* Color negro para el precio */
	font-weight: BOLD;
  }
  
  .highlight {
	background-color: #f9f9f9;
	font-weight: bold;
  }
  
  .cart-icon {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #ffffff;
	transition: transform 0.3s ease;
	padding-left: 20px;
  }
  
  .cart-icon:hover {
	transform: scale(1.1);
  }
  
  .cart-icon img {
	width: 30px;
	margin-right: 5px;
	transition: transform 0.3s ease;
  }
  
  .cart-icon img:hover {
	transform: rotate(20deg);
  }
  
  .cart-count {
	background-color: #FF0000;
	color: #FFFFFF;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: bolder;
	transition: background-color 0.3s ease;
  }
  
  .cart-count:hover {
	background-color: #FF4500;
  }
  
  /* Estilos de la sección hero */
  .hero {
	background-color: #FFFFFF;
	text-align: center;
	padding: 50px 0;
	color: #000000;
  }
  
  .hero h2 {
	font-family: "Vintage Font", cursive;
	font-size: 36px;
	color: #800000;
	margin-bottom: 20px;
  }
  
  .hero p {
	font-size: 18px;
	margin-bottom: 40px;
  }
  
  .btn {
	display: inline-block;
	padding: 12px 30px;
	background-color: #FF0000;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	transition: background-color 0.3s ease;
  }
  
  .btn:hover {
	background-color: #800000;
  }
  
  /* Estilos de la sección del feed de redes sociales */
  .social-feed {
	background-color: #FFFFFF;
	padding: 80px 0;
	text-align: center;
	color: #000000;
  }
  

/* Estilos del carrusel de imágenes */
.foto_producto {
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
  }
  
  .carousel {
	position: relative;
	width: 100%;
	height: 100%;
  }
  
  .carousel-inner {
	position: relative;
	width: 100%;
	height: 100%;
  }
  
  .carousel-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-item.active {
	opacity: 1;
  }
  
  .carousel-item img {
	width: 70%;
	height: 100%;
	object-fit: cover;
  }
  
  .carousel-caption {
	position: absolute;
	bottom: 0;
	left: 50%;
  	transform: translateX(-50%);
	margin: 0;
	width: 80%;
	background-color:#f8f8f881;
	color: #000000;
	text-align: center;
  }
  
  .carousel-caption h3 {
	font-size: 24px;
	margin-bottom: 5px;
  }
  
  .carousel-caption p {
	font-size: 16px;
	font-weight: bolder;
  }
  
  .carousel-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	color: #800000;
	font-size: 50px;
	font-weight: bold;
	transition: color 0.3s ease;
	cursor: pointer;
  }
  
  .carousel-control.prev {
	left: 10%;
  }
  
  .carousel-control.next {
	right: 10%;
  }
  
  .carousel-control:hover {
	color: #FF0000;
  }
  
  .carousel-control.rotate {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
  }
  
  .carousel-control.active {
	color: #FF0000;
  }
  
  /* Estilos de la sección de Productos Destacados */
.featured-products {
	background-color: #F8F8F8;
	padding: 50px 0;
	text-align: center;
	color: #800000;
  }
  
  .featured-products h2 {
	font-size: 36px;
	margin-bottom: 40px;
	font-weight: bolder;
  }
  
  .product-list {
	display: flex;
	justify-content: center;
  }
  
  .product-item {
	width: 300px;
	margin: 20px;
	padding: 20px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
  }
  
  .product-item img {
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
  }
  
  .product-item h3 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .product-item p {
	font-size: 14px;
	margin-bottom: 20px;
  }
  
  .product-item .btn {
	display: inline-block;
	padding: 8px 20px;
	background-color: #FF0000;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	transition: background-color 0.3s ease;
  }
  
  .product-item .btn:hover {
	background-color: #800000;
  }
  
  /* Estilos de la sección de Suscripción */
.subscription {
	background-color: #F8F8F8;
	padding: 50px 0;
	text-align: center;
	color: #000000;
  }
  
  .subscription h2 {
	font-size: 36px;
	margin-bottom: 20px;
  }
  
  .subscription p {
	font-size: 16px;
	margin-bottom: 40px;
  }
  
  .subscribe-form {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .subscribe-form input[type="email"] {
	padding: 8px;
	border: none;
	border-radius: 5px;
	width: 300px;
	font-size: 14px;
	margin-right: 10px;
  }
  
  .subscribe-form .btn {
	display: inline-block;
	padding: 8px 20px;
	background-color: #FF0000;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	transition: background-color 0.3s ease;
  }
  
  .subscribe-form .btn:hover {
	background-color: #800000;
  }
  
  /* Estilos de la sección de Ubicación */
.location {
	background-color: #FFFFFF;
	padding: 80px 0;
	text-align: center;
	color: #000000;
  }
  .location h2 {
	font-family: "Candara", sans-serif;
	font-size: 32px;
	color: #800000;
	text-align: center;
	margin-bottom: 20px;
  }
  
  .map-container {
	width: 100%;
	height: 400px;
	margin-top: 20px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	overflow: hidden;
  }
  
  .map-container iframe {
	width: 100%;
	height: 100%;
	border: 0;
  }

/* Estilos del footer*/
footer {
	background: #F8F8F8;
	color: #000000;
	padding: 40px 0;
	margin-top: 30px;
	position: relative;
	background-color: #FFFFFF;
}

footer::before {
	content: '';
	position: absolute;
	text-align: center;
	top: 0;
	/* left: 5%; */
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, #ff9c9c, #800000, #ff9c9c);
}

footer::after {
	content: '';
	position: absolute;
	text-align: center;
	bottom: 0;
	margin-bottom: 5px;
	/* left: 5%; */
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, #ff9c9c, #800000, #ff9c9c);
}
  
  .footer-container {
	width: 100%;
	padding: 0 20px;
	display: flex;
	justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
	align-items: start;
	max-width: 1200px;
	margin: 0 auto;
}
  
.footer-column {
	margin-left: 20px;  /* Espacio desde el borde izquierdo */
	margin-right: 20px; /* Espacio desde el borde derecho */
}
  
h3 {
	color: #800000;
	font-weight: bold;
  }

  
  .footer-copy {
	text-align: center;
	color: #000000;
	font-size: 14px;
	margin-top: 20px;
  }
  
  .social-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  
  .social-links a {
	margin-right: 10px;
	margin-bottom: 10px;
  }
  
  .social-links a:last-child {
	margin-bottom: 0;
  }
  
  .social-icon {
	display: flex;
	align-items: center;
	width: 25px;
  }

  .social-icon span {
	margin-left: 10px;
  }

  .social-icon img{
	width: 40px;
  }
