/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   products.css                                       :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: adpachec <adpachec@student.42madrid.com>   +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/07/11 18:59:33 by adpachec          #+#    #+#             */
/*   Updated: 2023/07/12 21:14:03 by adpachec         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body {
    font-family: "candara", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
	overflow-x: hidden;
}

.container {
	max-width: 1200px; /* Ajusta el ancho máximo deseado */
	margin: 0 auto; /* Centra el contenido horizontalmente */
	padding: 0 20px; /* Agrega un espacio de relleno en los lados */
  }
  
header {
    background-color: #333;
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
}

header nav ul li {
    display: inline;
    color: #ffffff;
}

hs {
	color: #800000;
	font-size: 30px;
	text-align: center;
	font-weight:  bolder;
	font-family: "candara";
}

#sidebar {
    float: left;
    width: 19.3%;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar ul {
    list-style: none; /* Removes bullet points */
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar ul li {
    width: 90%; /* Hacer los botones más estrechos */
    text-align: center;
    padding: 0; /* Quitar el padding */
    position: relative;
    margin: 10px 0; /* Agregar margen alrededor para separar los botones */
    cursor: pointer;
}


#sidebar ul li:hover {
    color: #ffffff;
}

#sidebar button {
    width: 100%; /* Hacer los botones de la misma anchura que las líneas */
    padding: 15px 0; /* Ajustar el padding para cambiar la altura de los botones */
    margin: 0; /* Quitar margen para que los botones estén más próximos */
    background-color: #FFFFFF;
    border: none;
	border-radius: 12px;
    color: #800000;
    transition: all 0.3s ease-in-out;
    font-family: "candara";
    font-weight:  bolder;
    font-size: 20px; /* Reducir el tamaño de la fuente para que el texto se ajuste mejor */
    position: relative; /* Añadir posición relativa para los pseudo-elementos */
}

#sidebar button::before,
#sidebar button::after {
    content: '';
    position: absolute;
    width: 90%; /* Reducir el ancho de las líneas para que coincidan con el botón */
    height: 2px;
    background: linear-gradient(to right, transparent, #800000, transparent);
    left: 10px; /* Centrar las líneas con respecto al botón */
}

#sidebar button::before {
    top: 0;
}

#sidebar button::after {
    bottom: 0;
}

#sidebar button:hover {
    background-color: #800000;
    color: #ffffff;
    cursor: pointer;
}

#opcionesGrid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
  }

#opcionesGrid button {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px; /* ajusta al tamaño que desees */
    height: 40px;
    border: none;
    transition: all 0.3s ease-in-out;
} 

#opcionesGrid button:nth-child(1) {
    background-image: url("/Carpasan-21-SL/images/grid-3-icon.png");
}

#opcionesGrid button:nth-child(2) {
    background-image: url("/Carpasan-21-SL/images/grid-5-icon.png");
}

#opcionesGrid button:hover {
    background-color: #f1f1f1;
}

#opcionesGrid .ordenar {
    display: flex;
    align-items: center;
	/* margin-right: 79px; */
}

#opcionesGrid .ordenar span {
    font-family: 'Candara', sans-serif;
	font-size: 20px;
    color: #800000;
	font-weight: bolder;
}

#ordenar {
    font-family: 'Candara', sans-serif;
    font-size: 18px;
	font-weight: bolder;
    text-align: center;
    color: #800000;
    padding: 5px;
    padding-right: 20px;
    border: 2px solid #800000;
    border-radius: 8px;
    background-color: #f8f8f8;
    transition: all 0.3s ease-in-out;
	width: 100%;
}
#ordenar:hover {
    background-color: #f8f8f8;
}

#ordenar:before { /* añade un pseudo-elemento para la animación */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #800000;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}

#ordenar:hover,
#ordenar option:hover {
	  background-color: #F8f8f8;
}

#ordenar:hover::before {
    background-color: #f8f8f8;
}

#ordenar option:checked {
    background-color: #800000;
    color: #ffffff;
}
  
/* .contenedor {
    width: 70%;
} */

#gridProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
	margin-bottom: 550px;
}

.producto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 300px;
	border: 2px solid #800000; 
	border-radius: 12px;
    padding: 10px;
    height: 300px;
    display: flex;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
	background-color: #FFFFFF;
}

.producto:not(:nth-child(3n))::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #ccc);
}

.producto:hover {
    transform: scale(1.03);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%; /* Make sure the image is not wider than its container */
    height: auto; /* Maintain the image's aspect ratio */
    max-height: 200px; /* Limit the image's height */
}

.producto h2,
.producto p {
    margin: 0;
    text-overflow: ellipsis; /* Recortar el texto y mostrar puntos suspensivos */
    overflow: hidden;
	align-self: center;
	margin: 0;
    white-space: nowrap; /* Evitar saltos de línea */
    max-height: 2.4em; /* Altura máxima para mostrar */
}

.producto h2 {
	margin-top: 5px;
    font-size: 25px;
	font-family: "Candara";
    color: #800000;
}

.producto .descripcion {
    font-family: "Candara", cursive;
    font-size: 15px;
    color: #800000;
	font-weight: bolder;
}
  
.producto .precio {
    font-family: "Candara", cursive;
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
}

.producto span {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

#selectorGrid {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#selectorGrid button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}
#selectorGrid button:hover {
    background-color: #555;
    cursor: pointer;
}
