/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   products.css                                       :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: adpachec <adpachec@student.42madrid.com>   +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/07/11 18:59:33 by adpachec          #+#    #+#             */
/*   Updated: 2023/07/11 20:04:13 by adpachec         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

/* Estilos del aside (menú) */
.sidebar {
	width: 25%;
	background-color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 18px;
  }
  
  .sidebar h2 {
	color: #800000;
  }
  
  .categories {
	list-style-type: none;
	padding: 0;
  }
  
  .category {
	cursor: pointer;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #fff;
	color: #800000;
  }
  
  .category:hover {
	background-color: #800000;
	color: #fff;
  }
  
  /* Estilos para la lista de productos */
  .product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
  }
  
  .product-item {
	width: 33.33%;
	padding: 20px;
	text-align: left;
	vertical-align: top;
  }
  
  .product-item img {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-height: 200px;
	object-fit: cover;
  }
  
  .product-item h3 {
	margin-top: 10px;
	font-size: 18px;
	color: #800000;
  }
  
  .product-item h2 {
	margin-top: 5px;
	font-size: 16px;
	color: #000;
  }
  
  .product-item .price {
	color: #000;
	font-weight: bold;
  }
  
  /* Estilos adicionales */
  .container {
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .clearfix::after {
	content: "";
	display: table;
	clear: both;
  }
  
  .grid-buttons {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .grid-button {
	padding: 10px 20px;
	margin: 0 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
  }
  
  .grid-button img {
	width: 100%;
	height: auto;
  }
  
  .grid-button.active {
	opacity: 0.7;
  }
  
  @media screen and (max-width: 768px) {
	.product-item {
	  width: 50%;
	}
  }
  