
body{
  background-color: #ffefba5e;
}

/* Estilos de la barra superior */

  
.top-bar .container {
	display: flex;
  justify-content: center; 
  width: 90%;
}
  
.logo img {
	width: 200px;
	margin-right: 20px;
  transition: transform 0.3s;
}

.logo img:hover {
  transform: scale(1.1); 
}

.top-bar-right {
	display: flex;
	align-items: center;
	margin-left: 100px;
}
  
h1 {
	font-family: "Candara", cursive;
	font-size: 80px;
	text-align: left;
	color: #800000;
	margin-top: 30px;
}

/* Estilos de la barra de navegación */
nav {
	background-color: #800000;
}

.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
  
h5{
  color: #ecc43d;
	font-family: "candara", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 35px;
	white-space: nowrap;
  justify-content: center;
  margin: 0.5%;
}

/* Login */

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fde699;
}

.branding {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.5%;
}

.brand-logo {
  max-width:  200px; /* Ajusta según el tamaño que desees */
  height: auto;
  margin-bottom: 10px; /* Espaciado entre el logo y el nombre */
  margin-right: 15px;
}

.brand-name {
  font-family: "candara", Arial, Helvetica, sans-serif;
  color: #800000;  /* Color del nombre de la empresa */
	font-size: 54px;
  font-weight: bold;
	text-align: left;
}

.login-box {
  background-color: #800000e5; /* Fondo blanco para el formulario de inicio de sesión */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2); /* Sombra sutil */
  width: 30%; /* Ajusta según lo desees */
  height: 30%;
  text-align: center;
  color: #ecc43d;
  font-family: "candara", Arial, Helvetica, sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: center; /* Centra los elementos vertical y horizontalmente */
  align-items: center;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;

}

button {
  padding: 10px 15px;
  background-color:#ecc43d ;
  border: none;
  border-radius: 8px;
  color: #800000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #b89112;
}

/* Dashboard */

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  height: 100%;
}

.panel-seleccion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.panel-seleccion a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #ecc43d;
  background-color: #800000;
  font-size: 20px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

button2 {
  padding: 10px 15px;
  background-color:#800000 ;
  border: none;
  border-radius: 8px;
  color: #ecc43d;
  font-family: "candara", Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.panel-seleccion a:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Historial Pedidos */
.orders-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: #f4f4f4;
}

.order-card {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.order-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-header:hover {
  background-color: #f0f0f0;
}

.order-header h2 {
  margin: 0;
  color: #2C3E50;
}

.order-client {
  margin-bottom: 10px;
  color: #7F8C8D;
  font-weight: bold;
}

.order-details {
  display: none; 
}

.order-card.expanded .order-details {
  display: block;
}

.order-status {
  color: #27AE60;
  font-weight: bold;
  border: 1px solid #27AE60;
  padding: 5px 10px;
  border-radius: 20px;
}

.product-name {
  color: #34495E;
}

.product-price {
  color: #E74C3C;
}

h6{
  color: #800000;
	font-family: "candara", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 35px;
	white-space: nowrap;
  justify-content: center;
  margin: 0.5%;
  text-align: center;
}

/* Detalles Pedidos */

.pedido-detalle-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #fff;
}

.cliente-info {
  background-color: #F8F8F8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.cliente-info div {
  margin-bottom: 8px;
}

.productos-lista {
  list-style: none;
  padding: 0;
}

.producto-item {
  padding: 10px;
  background-color: #E5E5E5;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.producto-item input[type="checkbox"] {
  cursor: pointer;
}
