/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   products.css                                       :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: adpachec <adpachec@student.42madrid.com>   +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/07/11 18:59:33 by adpachec          #+#    #+#             */
/*   Updated: 2024/04/29 13:32:00 by adpachec         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body {
  font-family: "candara", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

header {
  background-color: #333;
  padding: 10px 0;
  color: #ffffff;
  text-align: center;
}

header nav ul li {
  display: inline;
  color: #ffffff;
}

hs {
  color: #800000;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  font-family: "candara";
}

#filtroTags{
  display: block;
  z-index: 2000;
}

#sidebar {
  z-index: 2000;
  float: left;
  width: 19.3%;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar ul li {
  width: 90%; /* Hacer los botones más estrechos */
  text-align: center;
  padding: 0; /* Quitar el padding */
  position: relative;
  margin: 10px 0; /* Agregar margen alrededor para separar los botones */
  cursor: pointer;
}

#sidebar ul li:hover {
  color: #ffffff;
}

#sidebar button {
  width: 100%; /* Hacer los botones de la misma anchura que las líneas */
  padding: 15px 0; /* Ajustar el padding para cambiar la altura de los botones */
  margin: 0; /* Quitar margen para que los botones estén más próximos */
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  color: #800000;
  transition: all 0.3s ease-in-out;
  font-family: "candara";
  font-weight: bolder;
  font-size: 20px; /* Reducir el tamaño de la fuente para que el texto se ajuste mejor */
  position: relative; /* Añadir posición relativa para los pseudo-elementos */
}

#sidebar button::before,
#sidebar button::after {
  content: "";
  position: absolute;
  width: 90%; /* Reducir el ancho de las líneas para que coincidan con el botón */
  height: 2px;
  background: linear-gradient(to right, transparent, #800000, transparent);
  left: 10px; /* Centrar las líneas con respecto al botón */
}

#sidebar button::before {
  top: 0;
}

#sidebar button::after {
  bottom: 0;
}

#sidebar button:hover {
  background-color: #800000;
  color: #ffffff;
  cursor: pointer;
}

#opcionesGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-top: 0;
}

#opcionesGrid div {
  margin: 0 10px;
}

#opcionesGrid button {
  background-position: center;
  padding: 10px 10px;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.grid-option {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 12px;
}

#opcionesGrid button:hover {
  background-color: #80000067;
  border: 1px solid #80000067;
  border-radius: 12px;
}

#opcionesGrid img {
  width: 25px;
  height: 25px;
}

#opcionesGrid .ordenar span {
  font-family: "Candara", sans-serif;
  font-size: 20px;
  color: #800000;
  font-weight: bolder;
}

#ordenar {
  font-family: "Candara", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  color: #800000;
  padding: 5px;
  padding-right: 20px;
  border: 2px solid #800000;
  border-radius: 8px;
  background-color: #f8f8f8;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
#ordenar:hover {
  background-color: #f8f8f8;
}

#ordenar:before {
  /* añade un pseudo-elemento para la animación */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #800000;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);
  transform-origin: bottom;
}

#ordenar:hover,
#ordenar option:hover {
  background-color: #f8f8f8;
}

#ordenar:hover::before {
  background-color: #f8f8f8;
}

#ordenar option:checked {
  background-color: #800000;
  color: #ffffff;
}

#gridProductos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-bottom: 550px;
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 350px;
  border: 2px solid #800000;
  border-radius: 12px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  height: auto;
}

.producto:not(:nth-child(3n))::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #ccc);
}

.producto:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.producto img {
  max-width: 100%; 
  height: auto; /* Maintain the image's aspect ratio */
  max-height: 200px; 
}

.producto h2,
.producto p {
  margin: 0;
  text-overflow: ellipsis; 
  /* overflow: hidden; */
  align-self: center;
  margin: 0;
  /* white-space: nowrap; */
  max-height: 2.4em;
}

.producto p2 {
  margin: 0;
  text-overflow: ellipsis; 
  /* overflow: hidden; */
  align-self: center;
  margin: 0;
  white-space: nowrap;
  max-height: 2.4em;
}

.producto h2 {
  margin-top: 5px;
  font-size: 25px;
  font-family: "Candara";
  color: #800000;
}

.producto .descripcion {
  font-family: "Candara", cursive;
  font-size: 17px;
  color: #800000;
  font-weight: bolder;
}

.producto .precio {
  font-family: "Candara", cursive;
  font-size: 20px;
  font-weight: bolder;
  color: #000000;
  
}

.producto span {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

#selectorGrid {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#selectorGrid button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
#selectorGrid button:hover {
  background-color: #555;
  cursor: pointer;
}

.price-cart3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 45%;
}

.price-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 75%;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 8px;
  background-color: #f8f8f8;
  border-color: #800000;
  cursor: pointer;
}

.add-to-cart img {
  width: 4vh;
}

.add-to-cart:hover {
  transform: scale(1.2);
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  overflow: hidden;
  /* padding: 20px; */
  align-items: center;
}

#modal .product-name {
  color: #800000;
  text-transform: uppercase;
  font-family: "Candara", serif;
  font-size: 35px;
  font-weight: bolder;
  margin-top: -20px;
}

.modal-content {
  position: relative;
  background-color: #f8f8f8;
  margin: 15% auto;
  padding: 20px;
  border: 3px solid #800000;
  width: 30%;
  border-radius: 15px;
}

.modal-content .quantity {
  font-size: 20px; /* Ajusta el valor a lo que necesites */
}

.modal-content .subtotal {
  font-size: 19px; /* Ajusta el valor a lo que necesites */
  margin: 15px 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  color: #aaaaaa;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
  margin-top: -50px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.quantity-section {
  display: flex;
  align-items: center;
  margin-top: -30px;
}

.quantity {
  width: 25%; /* Reducir el tamaño del recuadro */
  padding: 10px;
  font-weight: bolder;
  font-family: sans-serif;
  border: 1px solid #800000;
  border-radius: 12px;
  text-align: right;
}

.quantity-section span {
  margin-left: 5px; /* Posicionar la unidad kg al lado del recuadro */
  align-items: center;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 20px;
  align-self: flex-end;
  position: relative;
  bottom: 10px;
}

.subtotal {
  margin-top: 20px;
  font-size: 18px;
  color: #800000;
  font-weight: bold;
}

.quantity,
.subtotal {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

#addToCartFromModal {
  display: block;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  background-color: #800000;
  color: white;
  border: none;
  transition: background-color 0.5s ease;
}

#addToCartFromModal:hover {
  background-color: darkgreen;
}

#order-summary-modal {
  position: fixed; /* Fijar el modal respecto a la ventana del navegador */
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  top: 50%; /* Centrado vertical */
  transform: translate(-50%, -50%); /* Centrado horizontal y vertical */
  overflow-y: visible; /* Permite desplazarse si es necesario */
  z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
}

#order-summary-modal .modal-content {
  position: relative; /* Posición relativa dentro del modal */
  width: 100%; /* Uso del 100% del ancho del modal */
  max-width: 700px; /* Máximo ancho para el contenido */
  background-color: #fff;
  margin: auto; /* Centra el contenido verticalmente si hay espacio adicional */
  padding: 20px;
  border-radius: 5px;
}

#order-summary-modal .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#order-summary-modal .top-bar h1 {
    font-size: 30px;
    margin: 0;
}

#order-summary-modal .close {
    cursor: pointer;
    margin-top: 0;
}

#order-summary-modal #order-summary-content {
    overflow-y: auto;
}

#order-summary-modal .order-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    text-align: center;
}

#order-summary-modal .order-item .remove-item {
  color: #800000;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: bolder;
  padding: 0;
  transition: color 0.3s ease-in-out;
}

#order-summary-modal .order-item .remove-item:hover {
  color: darkred;
}

#order-summary-modal .subtotal {
    font-size: 18px;
    margin-right: 10px;
    color: black;
    font-weight: normal;
}

#order-summary-modal .order-item .order-quantity {
    font-size: 18px;
    margin-right: 10px;
    color: black;
    font-weight: normal;
}

.order-quantity {
  width: 70px;
  text-align: right;
  /* margin-left: auto; */
  border: none;
}

.order-quantity::-webkit-inner-spin-button,
.order-quantity::-webkit-outer-spin-button {
  /* -webkit-appearance: none; */
  margin: 0;
}

.order-quantity[type="number"] {
  appearance: inherit;
  -moz-appearance: textfield;
}

.order-quantity:after {
  content: " kg";
}

#order-summary-modal .order-summary-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    text-align: left;
    background-color: #ffffff;
  }

  #order-summary-modal .order-summary-header,
#order-summary-modal .order-item {
    box-sizing: border-box;
}

#order-summary-modal .order-item .product-name {
    text-align: left;
}

#order-summary-modal #clear-cart-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: 10px;
}

#order-summary-modal #clear-cart {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 130px;
  font-size: 14px;
  font-weight: bold;
}

#order-summary-modal #clear-cart:hover {
  background-color: darkred;
}

#order-summary-modal .total {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #800000
}

#order-summary-modal .total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#order-summary-modal .total-row .left-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#order-summary-modal .total-row .left-section span {
  margin-left: 350px;
}

#order-summary-modal .total-row .right-section {
  display: flex;
  align-items: center;
  margin-right: auto;
}

#order-summary-modal #checkout {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
  width: 130px;
  font-size: 14px;
  font-weight: bold;
}

#order-summary-modal #checkout:hover {
  background-color: darkgreen;
}

.checkout-modal-container {
  width: auto;
  max-width: 90%;
  margin: 0 auto;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.checkout-modal-container .modal-content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: "candara";
  font-size: 18px;
}

.checkout-modal-container .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.checkout-modal-container .top-bar h1 {
  font-size: 34px;
  font-weight: bolder;
  margin: 0;
}

.checkout-modal-container .top-bar .close {
  font-size: 40px;
  cursor: pointer;
  margin-top: 0;
}

.checkout-modal-container form {
  margin-bottom: 20px;
}

.checkout-modal-container label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-family: "Candara", sans-serif;
}

.checkout-modal-container input[type="text"],
.checkout-modal-container input[type="tel"],
.checkout-modal-container select,
.checkout-modal-container textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Candara", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.checkout-modal-container textarea {
  height: 150px; /* Ajusta la altura según tus necesidades */
}

.checkout-modal-container .checkbox-container {
  margin-top: 15px;
  width: auto;
  
}

.checkout-modal-container .checkbox-container label {
  font-family: "Candara", sans-serif;
  font-size: 15px;
  color: #555;
}

.checkout-modal-container .button-container {
  margin-top: 20px;
  text-align: right;
}

.checkout-modal-container #confirm-order {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Candara, sans-serif;
}

#error-container {
  color: red;
  margin-bottom: 10px;
}

.error-message {
  margin: 5px 0;
}

#confirmation-message {
  position: fixed; /* Para posicionarlo en el centro de la página */
  top: 40%; /* Posiciona el elemento en el centro vertical */
  left: 50%; /* Posiciona el elemento en el centro horizontal */
  transform: translate(-50%, -50%); /* Ajusta el posicionamiento para que esté perfectamente centrado */
  display: none; /* Comienza oculto hasta que se muestre a través de JavaScript */
  padding: 20px; /* Espacio alrededor del contenido */
  background-color: white; /* Fondo blanco para que se destaque contra el fondo de la página */
  border-radius: 12px; /* Bordes redondeados */
  border: 2px solid #800000; /* Borde sólido verde */
  z-index: 1000; /* Asegura que el mensaje aparezca encima de otros elementos */
  text-align: center; /* Centra el texto */
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1); /* Sombra alrededor del mensaje */
  width: 80%; /* Anchura */
  max-width: 500px; /* Anchura máxima */
  font-family: "cardana", sans-serif, Arial, Helvetica, sans-serif;
}

#confirmation-message h2 {
  color: #800000; /* Color de título verde */
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px; /* Espacio debajo del título */
}

#confirmation-message p {
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Color de texto gris oscuro */
}

#close-confirmation-message {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #800000;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  line-height: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#privacy-modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 60%;
  width: 100%; 
  height: 100%; 
  overflow: auto;
} 

#privacy-modal .modal-content {
  background-color: #f8f8f8;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #800000;
  width: 80%; /* Could be more or less, depending on screen size */
  font-size: 20px;
  font-weight: bold;
  color: #800000;
}

#privacy-modal .close-privacy {
  color: #aaa;
  margin-left: 95%;
  font-size: 38px;
  font-weight: bold;
}

#privacy-modal .close-privacy:hover,
.close-privacy:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  #sidebar #filtroTags {
    display: none;
  }
  
  #sidebar.active #filtroTags {
    display: block;
    z-index: 3;
  }
  
  #sidebar {
    position: absolute; /* o absolute, dependiendo de tu layout específico */
    transform: translateY(50%);
    transform: translateX(50%);
    background-color: #f8f8f8;
    width: 50%;
    z-index: 1;
  }

  #sidebar hs:after {
    content: 'pulse para opciones';
    float: right;
    font-size: 1.5vh;
    
  }

  #opcionesGrid {
    flex-direction: column;
  }

  #gridProductos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 10px; /* Espacio entre productos */
    align-items: start; /* Alinea los elementos al inicio del contenedor */
    padding: 10px 0; /* Agrega algo de padding si es necesario */
  }

  .producto img {
    max-width: 100%; /* Asegurarse de que la imagen no exceda el ancho del contenedor */
    width: auto; /* Mantener la proporción de la imagen */
  }

  .producto h2 {
    font-size: 1.25rem; /* Reducir el tamaño del título para dispositivos móviles */
    margin-top: -5vh;
  }

  .producto .descripcion {
     display: none;
  }

  .producto .price-cart3 {
    display: flex; /* Usar flexbox para alinear precio y botón de manera responsiva */
    flex-direction: column;
    align-items: center; /* Centrar elementos verticalmente */
    justify-content: space-between; /* Separar precio y botón */
    flex-wrap: wrap; /* Permitir que los elementos pasen al siguiente renglón si no hay espacio */
    width: 60%;
  }

  .producto .precio {
    font-size: 1.25rem; /* Ajustar el tamaño del precio */
    font-weight: bold; /* Poner el precio en negrita */
    margin-right: 0.5em; /* Agregar margen a la derecha del precio */
    margin-top: -10vh;
  }

  .producto .add-to-cart {
    position: relative;
    padding: 0.5em 1em; /* Agregar padding al botón */
    border-radius: 0.5em; /* Redondear esquinas del botón */
    width: 7vh;
    align-items: center;
    margin-top: 2.5vh;
  }

  .grid-option, .ordenar {
    margin-top: 10px;
    margin: 2vh;
  }

  .ordenar select {
    width: 100%;
  }

  .modal {
    width: 95%;  /* Más ancho para aprovechar el espacio en pantallas pequeñas */
    top: 25vh;
    transform: translateX(-50%);
  }

  .modal-content {
    width: 90%;  /* Más ancho para aprovechar mejor el espacio disponible */
    margin: 10% auto; /* Menor margen para reducir el espacio no utilizado */
    padding: 20px; /* Padding más pequeño para maximizar el espacio */
  }

  .close {
    font-size: 24px; /* Un poco más pequeño para dispositivos móviles */
    margin-top: 0; /* Reducir el margen superior para evitar desplazamiento negativo */
  }

  #order-summary-modal {
    position: absolute;
    /* height: auto; */
    width: 95%; /* Aprovecha mejor el espacio horizontal */
    top: 55%; /* Reduce el espacio superior para mejor acceso */
    left: 50%; /* Centra el modal horizontalmente */
    transform: translate(-50%, 0); /* Asegura que el modal está centrado */
    max-width: none; /* Remueve cualquier límite máximo del ancho */
    overflow: visible;
    z-index: 9999;
}

#order-summary-modal .modal-content {
  padding: 10px; /* Reduce el padding para dar más espacio al contenido */
  width: 95%; /* Aumenta el ancho para usar la mayor parte de la pantalla */
  box-sizing: border-box;
}

#order-summary-modal .top-bar h1 {
  font-size: 22px; /* Reduce el tamaño de la fuente del título para que ocupe menos espacio */
}

#order-summary-modal .order-item, 
#order-summary-modal .order-summary-header {
    grid-template-columns: repeat(4, 1fr); /* Coloca los elementos en tres columnas */
}

#order-summary-modal .close, 
#order-summary-modal #clear-cart, 
#order-summary-modal #checkout {
    font-size: 16px; /* Aumenta el tamaño de la fuente para mejor accesibilidad */
    padding: 12px; /* Más área de toque para facilitar la interacción */
}

#order-summary-modal .order-item .order-quantity, 
#order-summary-modal .subtotal,
#order-summary-modal .total {
    font-size: 16px; /* Aumenta la legibilidad con un tamaño de fuente mayor */
}

#order-summary-modal .order-item .remove-item {
    font-size: 16px; /* Asegura que los botones de eliminar sean fácilmente accesibles */
}

#order-summary-modal #order-summary-content {
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es extenso */
}

#order-summary-modal .total {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #800000
}

#order-summary-modal .total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#order-summary-modal .total-row .left-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#order-summary-modal .total-row .left-section span {
  margin-left: 100px;
}

#order-summary-modal #checkout {
  padding: 10px;
  margin-left: 10px;
}

.checkout-modal-container {
  width: 90%;
  margin: 0 auto;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  top: -0;
}

.checkout-modal-container .modal-content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: "candara";
  font-size: 18px;
}

#privacy-modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 20%;
  width: 100%; 
  height: 100%; 
  overflow: auto;
}
}


@media screen and (min-width: 600px) and (max-width: 1025px) {
  .producto .price-cart3 {
    display: flex; /* Usar flexbox para alinear precio y botón de manera responsiva */
    flex-direction: column;
    align-items: center; /* Centrar elementos verticalmente */
    justify-content: space-between; /* Separar precio y botón */
    flex-wrap: wrap; /* Permitir que los elementos pasen al siguiente renglón si no hay espacio */
    width: 60%;
    margin-top: 2vh;
  }
  
  #order-summary-modal {
    position: absolute;
    /* height: auto; */
    width: 95%; /* Aprovecha mejor el espacio horizontal */
    top: 55%; /* Reduce el espacio superior para mejor acceso */
    left: 50%; /* Centra el modal horizontalmente */
    transform: translate(-50%, 0); /* Asegura que el modal está centrado */
    max-width: none; /* Remueve cualquier límite máximo del ancho */
    overflow: visible;
    
}

#order-summary-modal .modal-content {
  padding: 10px; /* Reduce el padding para dar más espacio al contenido */
  width: 95%; /* Aumenta el ancho para usar la mayor parte de la pantalla */
  box-sizing: border-box;
}

#order-summary-modal .top-bar h1 {
  font-size: 22px; /* Reduce el tamaño de la fuente del título para que ocupe menos espacio */
}

#order-summary-modal .order-item, 
#order-summary-modal .order-summary-header {
    grid-template-columns: repeat(4, 1fr); /* Coloca los elementos en tres columnas */
}

#order-summary-modal .close, 
#order-summary-modal #clear-cart, 
#order-summary-modal #checkout {
    font-size: 16px; /* Aumenta el tamaño de la fuente para mejor accesibilidad */
    padding: 12px; /* Más área de toque para facilitar la interacción */
}

#order-summary-modal .order-item .order-quantity, 
#order-summary-modal .subtotal,
#order-summary-modal .total {
    font-size: 16px; /* Aumenta la legibilidad con un tamaño de fuente mayor */
}

#order-summary-modal .order-item .remove-item {
    font-size: 16px; /* Asegura que los botones de eliminar sean fácilmente accesibles */
}

#order-summary-modal #order-summary-content {
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es extenso */
}

#order-summary-modal .total {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #800000
}

#order-summary-modal .total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#order-summary-modal .total-row .left-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#order-summary-modal .total-row .left-section span {
  margin-left: 100px;
}

#order-summary-modal #checkout {
  padding: 10px;
  margin-left: 10px;
}
}